body {
    background-color: rgb(228, 229, 247);
}
  .social-login img {
    width: 24px;
  }
 
  .main {
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    display: flex;
    flex-direction: column;
    width: 250;
    background-color: #ffff;
    margin: auto;
    margin-top: 3em;
    margin-bottom: 3em;
    margin-right: auto;
    margin-left: auto;
    /*
    background-color: #ffff;
    align-items: center;
    padding: 60px;
    justify-content: space-evenly;
    flex-direction: column;
    font-family: sans-serif;*/
    /*width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    margin-bottom:3em;
    border-radius: 10px;
    background-color: #ffff;
    padding: 1.8rem;
    box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.1);*/
  }
  
  .foto-perfil{
    width: 250px;
    height: 250px;
    border-radius: 50%;
  }

  .nombre{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 30px;
  }

  .logo{
    width: 30px;
    height: 30px;
    padding: 30px 40px;
    margin-bottom: 20px;
  }

  .title {
    text-align: center;
    font-weight: bold;
    margin: 0;
  }
  
  .subtitle {
    text-align: center;
    font-weight: bold;
  }
  .btn-text {
    margin: 0;
  }
  
  .social-login {
    display: flex;
    justify-content: center;
    gap: 5px;
  }
  
  .google-btn {
    background: #fff;
    border: solid 2px rgb(245 239 239);
    border-radius: 8px;
    font-weight: bold;
    display: flex;
    padding: 10px 10px;
    flex: auto;
    align-items: center;
    gap: 5px;
    justify-content: center;
  }
  .fb-btn {
    background: #fff;
    border: solid 2px rgb(69, 69, 185);
    border-radius: 8px;
    padding: 10px;
    display: flex;
    align-items: center;
  }
  
  .or {
    text-align: center;
    font-weight: bold;
    border-bottom: 2px solid rgb(245 239 239);
    line-height: 0.1em;
    margin: 25px 0;
  } 
 